:root {
  --main-color: #ecf2ff;
  --secondary-color: #e3dffd;
  --darker-pink: #e5d1fa;
  --light-yellow: #fff4d2;
  --text-color: #060047;
}
* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  margin: 0px;
  height: 100%;
}

.nav-img {
  width: 30px;
  height: 100%;
  object-fit: contain;
}
header {
  width: 100vw;
}

.nav-main {
  background-color: var(--main-color);
  height: 70px;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 60px 60px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav-main h1 {
  display: block;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: var(--text-color);
  margin-left: 10px;
  letter-spacing: 3px;
}

.name {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 auto;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-pokemon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-right: 20px;
}
.name-container img {
  width: 30px;
  object-fit: contain;
}

.content-stats {
  width: 220px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  margin: 0 auto;
  color: var(--text-color);
  border-radius: 20px;
}
.main-content {
  display: block;
  position: relative;
  align-content: center;
  width: fit-content;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
}
.main-content figure {
  width: 150px;
  margin: 0 auto;
  overflow: hidden;
}
.content-stats ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.pokelist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.others {
  display: flex;

  justify-content: space-between;
  align-items: center;
  border-radius: 50px 50px 0 0;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  height: 70px;
  background-color: var(--main-color);
}
